.DS_Store
build/
firmware/build/
firmware/embedded_model.h
firmware/embedded_ir.h
firmware/embedded_a2_model.h
external/
__pycache__/
*.nam
*.namb
*.wav
*.aiff
*.aif
*.bin
*.elf
*.hex
__MACOSX/
_MACOSX/
